//registry.npmjs.org/:_authToken=a1025d45-bae6-4510-b550-3937ae070de6
//central.rocket.camp/repository/npm/:_authToken=NpmToken.fce9b98b-3e72-37e3-ab95-b3cf8c8bfb84
@productspace:registry=https://central.rocket.camp/repository/npm/
@rocketbase:registry=https://central.rocket.camp/repository/npm/
